// Colors
$base-dark: #22262a;
$mid-dark: #343a41;
$mid-dark-2: #31363b;
$dark-dark: #171a1d;

$hot-pink: #ff1482;

$gray: #94a4b4;

$white: #fff;

// Fonts
$primary-font: 'Staatliches', sans-serif;
$secondary-font: 'Inconsolata', sans-serif;
$display-font: 'Fugaz One', sans-serif;

// Transition functions
$primary-cubic-bezier: cubic-bezier(.175,.885,.32,1.275);

// Mixins
@mixin offCenter {
    position: absolute;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, -25vh);
    z-index: 0;
}